html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body,
ul,
ol,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

/* #region HEADER */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
/* #endregion */

/* #region LOGO */
.logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}

.logo-header {
  color: #000;
}

.logo-footer {
  color: #fff;
}

.logo-blue {
  color: #2294f1;
}

.logo-black {
  color: #000;
}

.logo-white {
  color: #fff;
}

/* #endregion */

.nav-list {
  margin-top: 32px;
  display: flex;
  gap: 50px;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;

  color: #212121;
  transition: color 250ms;
}

.nav-link:focus,
.nav-link:hover {
  color: #2294f1;
}

.contacts {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  margin-left: auto;
  color: #212121;
  gap: 40px;
}

.contacts-footer {
  color: #ffffff99;
}

.contacts-link {
  font-size: 14px;
  font-weight: 500;

  transition: color 250ms;
}

.contacts-link:hover {
  color: #2294f1;
}

.contacts-link-white {
  color: #fff;
}

.contacts-link-footer {
  color: #fff;
}

.section-hero {
  padding: 200px;
  background-color: #2f303a;
  text-align: center;
  width: auto;
}

.hero-title {
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 60px;
}

.hero-button {
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #2294f1;
  border: none;
  text-align: center;
  cursor: pointer;
}

.feature,
.service,
.person {
  list-style: none;
}

.section-features {
  margin-top: 94px;
}

.features-list {
  margin: 215px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.feature-title {
  margin-bottom: 10px;
}

.feature-paragraph {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.section-title {
  margin: 94px;
  text-align: center;
}

.services-list {
  display: flex;
  justify-content: space-around;
}

.team-list {
  margin-bottom: 94px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer {
  background-color: #212121;
}

.contacts-list {
  display: flex;
  list-style: none;
}

.contacts-link:hover {
  color: #2294f1;
}

.practices-item {
  list-style: none;
}
.buttons-list {
  list-style: none;
}

.buttons-button {
  padding: 6px 22px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;

  border: none;
  border-radius: 4px;
}

.buttons-button:focus,
.buttons-button:hover {
  color: #ffffff;
  background-color: #2294f1;
}
